<template name="EditProfile">

  <div class="container">
  <form class="main form page">
      <div class="form-group">
        <label class="control-label" for="profile-image">Profile Image URL</label>
        <input type="url" class="form-control" id="profile-image" value="{{ currentUser.profile.profileImage }}"
               placeholder="Profile Image URL">
      </div>
      <div class="form-group">
        <label class="control-label" for="first-name">First Name</label>
        <input type="text" class="form-control" id="first-name" value="{{ currentUser.profile.firstName }}"
               placeholder="First Name">
      </div>
      <div class="form-group">
        <label class="control-label" for="last-name">Last Name</label>
        <input type="text" class="form-control" id="last-name" value="{{ currentUser.profile.lastName }}"
               placeholder="Last Name">
      </div>
      <div class="form-group">
        <label class="control-label" for="contact">Contact through Email</label>
        <input type="checkbox" class="toggle-checked" id="contact"/>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary submit"/>
    </form>

  </div>

</template>