<template name="ProfilePage">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 well">
        <img src="{{ currentUser.profile.picture }}" class="img-rounded center-block" height="100" width="100"><br>
        <a href="{{pathFor 'EditProfile'}}">Change Picture</a>
      </div>
      <div class="col-sm-7 well">
        <h2 class="fullName well-sm">
          <!--{{fullName(currentUser.profile.name)}}-->
          {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}
        </h2>
        <div id="contact">
          <h2>{{contactMe(currentUser.profile)}}</h2>
        </div>
      </div>
    </div>
  </div>
</template>