<template name="postPage">
  <div class="post-page page">
    <div class="post">
      <div class="post-content">
        <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{domain}}</span></h3>
        <p>
          submitted by {{author}},
          {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
          <ul class="list-inline">
            <li><h5>Title: {{title}}</h5></li>
            <li><h5>ISBN: {{isbn}}</h5></li>
            <li><h5>Condition: {{condition}}</h5></li>
            <li><h5>Offer type: {{offertype}}</h5></li>
            <li><h5>Price: {{price}}</h5></li>
          </ul>
      <div class="well">{{desc}}</div>

        </p>
      </div>
      <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
    </div>

    <ul class="post-content">

    </ul>
    <ul class="comments">
      {{#each comments}}
      {{> commentItem}}
      {{/each}}
    </ul>
    {{#if currentUser}}
    {{> commentSubmit}}
    {{else}}
    <p>Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>
