<template name="Home">

  {{#if currentUser}}
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <i class="fa fa-plus"></i>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <i class="fa fa-usd"></i>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <i class="fa fa-random"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 well">
      <a href="{{pathFor 'AddStuff'}}">Add Offer</a>
    </div>
    <div class="col-sm-3 col-sm-offset-1 well">
      <a href="{{pathFor 'ListStuff'}}">Sell Offer</a>
    </div>
    <div class="col-sm-3 col-sm-offset-1 well">
      <a href="{{pathFor 'Matching'}}">Match Offers</a>
    </div>
  </div>
  {{else}}
    No one is logged in.
  {{/if}}

</template>
