<template name="UserGuide">
  <div id="ugModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">User Guide</h2>
        </div>
        <div class="modal-body">
          <h3>Users</h3><hr>
          <h4>Getting Started</h4>
          <p>Please log-in! Do note that you must have a UH Username in order to use these services. Once you finish this step, please fill in your personal info at the Edit Profile page!</p><hr>
          <h4>How This Works</h4>
          <p>The objective of Steel Blue is to pair up users selling their ICS books with users buying ICS books. A great feature of this website is the effortless connectivity! To get started, please click on "Add Offer" to create a new buy/sell offer, and watch as the magic happens!</p><hr>
          <h4>Matching and Accepting Offers</h4>
          <p>Once an offer has been made, if there is a match, it will automatically appear on your home page. If you see a match that you like, you will be able to accept it by clicking on the "Accept Offer" button. Once you have selected this option, you must wait for the other party to accept your offer as well. After all, this is a mutual exchange!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>