<template name="TextbookTable">
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>ISBN</th>
          <th>Make Offer</th>
        </tr>
        </thead>

        <tbody>
        {{#each stuffList}}
          <tr>
            <td>{{name}}</td>
            <td>{{ISBN}}</td>
            <td><a href="{{pathFor 'EditStuff'}}">Edit</a></td>
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
