body {
  padding-top: 70px;  /* Move body of page below navbar. */
  color: steelblue;
  font-family: 'Oxygen', sans-serif;
  font-size: 2em;
}

h2 {
  margin: 0;
}

.well {
  text-align: center;
  font-size: 85%;
  background-color: steelblue;
  color: mintcream;
}

.well-sm {
  background-color: mintcream;
  color: steelblue;
  text-align: center;
  font-size: 85%;
}

hr {
  border-width: 3px 0px 0px;
}

.navbar-inverse {
  background-color: steelblue;
  color: mintcream;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: mintcream;
}

.modal-content {
  background-color: mintcream;
  color: steelblue;
  text-align: center;
}

button, .btn-primary {
  background-color: mintcream;
  color: steelblue;
}

button:hover {
  border: 2px inset black;
  border-radius: 5px 5px 5px;
}

a {
  color: mintcream;
}
<<<<<<< HEAD

a:hover {
  color: lightcoral;
=======
.alert {
  animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}

.post-image {
  float: left
}

.post-image img {
  display: block
}

.post-text {
  margin-left: 210px
}

.button-right{
  float: right
>>>>>>> origin/master
}